/**********BASE CONFIGURATIONS**********/   
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Sans+Pro");

body {
	background-color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
    color: #fff
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 46px;
}

h3, h5, a {
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.col {
    padding-left: 20px;
    padding-right: 20px;
}

/**********card and nav**********/   
.card, .main-img {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 1px;
}

.card-header, .card-footer {
	font-family: 'Cutive Mono';
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
    border-bottom-color: #3d3d3d;
    font-size: 1.7rem;
    text-align: center;
}

.card-footer {
    padding: .5rem 1.25rem;
}

.card-block {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: relative;
    height: 300px;
    overflow-y: scroll;
}

.card-text {
    color: silver;
	font-size: 1.25rem;
}

.nav-tabs .nav-link.active {
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
	color: #29abe2;
    border: 1px solid #383737;
    border-bottom-color: #3d3d3d;
}

.dropdown-toggle {
    padding-top: 9px;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.nav-tabs .dropdown-menu {
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    font-size: 1.4rem;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 190px;
    margin-top: 6px;
    margin-left: -1px;
    border-color: #383737;
    border-top-style: dashed;
}

.docs-img {
    height: 40px;
    margin-bottom: -16px;
    margin-top: -20px;
}

.menu-drop-item {
    padding: 1rem 1.6rem;
}

.col-6 {
    text-align: center;
}

.container {
        padding-top: 8%;
        padding-left: 4%;
        padding-right: 4%;
        max-width: 100%
}

@media (min-width: 576px) {
    .container {
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (min-width: 768px) {
    .container {
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
        min-width: 760px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
        min-width: 1000px;
    }
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #3d3d3d;
  border-radius: 10px; }

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 12px;
  background-color: #3d3d3d; }

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4f4f4f), to(#1F1F1F));
  background-image: -webkit-linear-gradient(bottom, #4f4f4f 0%, #1F1F1F 100%);
  background-image: linear-gradient(to top, #4f4f4f 0%, #1F1F1F 100%); }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }
