/**********BASE CONFIGURATIONS**********/   
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Sans+Pro");

body {
	background-color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
    color: #fff
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 46px;
}

h3, h5, a {
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

/**********card and nav**********/   
.card, .main-img {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.card-header, .card-footer {
	font-family: 'Cutive Mono';
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
    border-bottom-color: #3d3d3d;
    font-size: 1.5rem;
}
.card-footer {
    padding: .5rem 1.25rem;
}
.circle :hover {
	width: 60px;
	height: 60px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    right: 0px;
    bottom: 0px;
    z-index: 3;
}
.card-block {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.card-text {
	font-weight: lighter;
	font-size: .85rem;
}
.nav-tabs .nav-link.active {
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
	color: #29abe2;
    border: 1px solid #383737;
    border-bottom-color: #3d3d3d;
}
.dropdown-toggle {
    padding-top: 9px;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.nav-tabs .dropdown-menu {
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    font-size: 1.4rem;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 190px;
    margin-top: 6px;
    margin-left: -1px;
    border-color: #383737;
    border-top-style: dashed;
}
.docs-img {
    height: 40px;
    margin-bottom: -16px;
    margin-top: -20px;
}
.menu-drop-item {
    padding: 1rem 1.6rem;
}

.col-6 {
    text-align: center;
}

.container {
        padding-top: 5%;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%
}

@media (min-width: 576px) {
    .container {
        padding-top: 5%;
    }
}

@media (min-width: 768px) {
    .container {
        padding-top: 10%;
        min-width: 760px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-top: 12%;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-top: 12%;
        min-width: 1000px;
    }
    .img-fluid {
        max-width: 75%;
    }
}
