legacy/*
config/config.yaml
images/private/*
images/swag.gif
images/favicon_jessebot.ico
views/hate.tpl
views/love.tpl
**.pyc
photo/*
logs/*
personal_routes.py
robots.txt
bands.db
images/favicon.ico
images/jesserecent.jpg
views/google1ab5c73d1f31729d.html


**/__pycache__
