legacy/*
config/config.yaml
images/private/*
images/swag.gif
images/10-3-17_jesse.jpg
images/favicon_jessebot.ico
views/hate.tpl
views/love.tpl
**.pyc
photo/*
logs/*
personal_routes.py
robots.txt
bands.db
images/favicon.ico
images/jesserecent.jpg
image_search/**
