/* this is the file for making nerdfonts work on a website */

@font-face {
  font-family: 'Mononoki';
  src: url('/static/fonts/MononokiNerdFont-Regular.ttf');
}

[class^="nf-"]:before {
    font-family: 'Mononoki';
    font-size: 1.3rem;
    color: cornflowerblue;
    /* Better Font Rendering (from devicons, et al) */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ------- social icons ----------- */

.nf-fa-github_alt:before {
    content: "\f113";
}

.nf-fa-github_alt_link:before {
    content: "\f113";
    font-size: 4rem !important;
}

.nf-fa-gitlab:before {
    content: "\f296";
    font-size: 4rem !important;
}

.nf-fa-linkedin_square:before {
    content: "\f08c";
    font-size: 4rem !important;
}

.nf-fa-mastodon:before {
    content: "\f4f6";
    font-size: 4rem !important;
}

.nf-fa-mastodon:before {
    content: "\f4f6";
    font-size: 4rem !important;
}


/* ------- user icons ----------- */

.nf-mdi-human:before {
    content: "\f7e5";
}

.nf-mdi-account:before {
    content: "\f503";
}

.nf-mdi-forklift:before {
  content: "\fcc7";
}
