@font-face {
  font-family: 'Mononoki';
  src: url('/static/fonts/mononoki-Regular-Nerd-Font-Complete-Mono.ttf');
}

[class^="nf-"]:before {
	font-family: 'Mononoki';
}

.nf-fa-user_secret:before {
	content: "\f21b";
}

.nf-fa-github_alt:before {
	content: "\f113";
}

.nf-fa-gitlab:before {
	content: "\f296";
}

.nf-fa-linkedin_square:before {
	content: "\f08c";
}
