/**********BASE CONFIGURATIONS**********/   
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Sans+Pro");

body {
	background-color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
    color: #fff
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 46px;
}

h3, h5, a {
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h5 {
	margin-left:5px;
}

/**********card and nav**********/   
.card {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.card-img-overlay {
    background-color:rgba(0, 0, 0, 0.5);
    width: 375px;
    height: 150px;
    font-size: small;
    color: white;
    padding: .5rem;
    position: absolute;
    top: -20px;
    left: 121px;
    bottom: 0px;
    right: 0px;
    box-shadow: 2px 2px 4px 0px rgba(21, 21, 21, 0.75);
}
.top-desc {
    color: #fff;
    margin-left: -59px;
    margin-top: 9px;
    opacity: .7;
}
.card-header, .card-footer {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
    border-bottom-color: #3d3d3d;
}
.card-block {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.card-text {
	font-weight: lighter;
}
.nav-tabs .nav-link.active {
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
	color: #29abe2;
    border: 1px solid #383737;
    border-bottom-color: #3d3d3d;
}
.dropdown-toggle {
    padding-top: 9px;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.nav-tabs .dropdown-menu {
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #29abe2;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 135px;
    margin-top: 4px;
    margin-left: -1px;
    border-color: #383737;
    border-top-style: dashed;
}
.docs-img {
    height: 40px;
    margin-bottom: -16px;
    margin-top: -20px;
}
.menu-drop-item {
    padding: 1rem 1.6rem;
    font-size: small;
}

.col-6 {
    text-align: center;
}


@media (min-width: 576px) {
    .container {
      padding: 40px 10px 20px 10px;
    }
}

@media (min-width: 768px) {
    .container {
      padding: 40px 0px 20px 0px;
    }
}

@media (min-width: 992px) {
    .container {
      padding: 40px 0px 20px 0px;
    }
}

@media (min-width: 1200px) {
    .container {
      padding: 40px 50px 0px 50px;
    }
}
