/**********BASE CONFIGURATIONS**********/   
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Sans+Pro");

body {
	background-color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 46px;
}

h3, h5, a {
	color: #33cccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

h5 {
	margin-left:5px;
}

.nav-tabs .nav-link.active {
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
	color: #33cccc;
    border: 1px solid #383737;
    border-bottom-color: #3d3d3d;
}

.card {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*
.card :hover {
    background-color: #4f4f4f;
    -moz-box-shadow: 3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow: 3px 3px 2px 0px #151515;
}*/

.card-header, .card-footer {
    border: 1px solid #383737;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
    border-bottom-color: #3d3d3d;
}

.card-block {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-toggle {
    padding-top: 5px;
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #33cccc;
}
.dropdown-menu {
    background-image: url(../images/sep-half.png);
    background-color: #4f4f4f;
	color: #33cccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 135px;
    margin-left: -1px;
    border-color: #383737;
    border-top-style: dashed;
}
.menu-drop-item {
    padding: 1rem 1.6rem;
    font-size: small;
}

@media (min-width: 576px) {
    .container {
      padding: 40px 10px 20px 10px;
    }
}

@media (min-width: 768px) {
    .container {
      padding: 40px 0px 20px 0px;
    }
}

@media (min-width: 992px) {
    .container {
      padding: 40px 0px 20px 0px;
    }
}

@media (min-width: 1200px) {
    .container {
      padding: 40px 50px 0px 50px;
    }
}

.col-6 {
    text-align: center;
}
