@media (min-width: 992px) {
    .tinyPad {
      padding-left: 50px;
    }
    .buttonLower {
      padding-top: 50px;
    }
    .imageLower {
      padding-top: 11px;
    }
    .padMe {
      padding: 0px 80px 0px 80px;
    }
}

.starter-template {
  padding: 40px 25px 0px 0px;
  text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
