{% include('header_resources.html') %}

<div class="container">
      <h3>Come learn about things!</h3>
      <br />
      <div class="row"> 
          <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <div class="dash-unit">
              <div class="c-title">
              Health
              </div>
              <hr style="margin-bottom: 0;">
        <img class="img-responsive img-rounded center-block main-img"
             src="/img/noun_Health_1993730.png"
             alt="Boop."
             style="height:250px;"
             data-toggle="tooltip" data-placement="bottom"
             title="Nutrition stuff">
            </div><!-- /.dash-unit -->
          </div><!-- /.col -->

          <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <div class="dash-unit">
              <div class='c-title'>
              Tech Stuff
              </div>
              <hr style="margin-bottom: 0;">
        <img class="img-responsive img-rounded center-block main-img"
             src="/img/noun_Robot_771023.png"
             alt="Boop."
             style="height:250px;"
             data-toggle="tooltip" data-placement="bottom"
             title="Tech stuff">
            </div><!-- /.dash-unit -->
          </div><!-- /.col -->

          <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <div class="dash-unit">
              <div class='c-title'>
              Trans Data
              </div>
              <hr style="margin-bottom: 0;">
        <img class="img-responsive img-rounded center-block main-img"
             src="/img/noun_gender_pill.png"
             alt="Boop."
             style="height:250px;"
             data-toggle="tooltip" data-placement="bottom"
             title="Transgender words.">
            </div><!-- /.dash-unit -->
          </div><!-- /.col -->

          <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
            <div class="dash-unit">
              <div class='c-title'>
              The name of my next band
              </div>
              <hr style="margin-bottom: 0;">
        <a href="/next-band">
        <img class="img-responsive img-rounded center-block main-img"
             src="/img/noun_rock_monster.png"
             alt="Boop."
             style="height:250px;"
             data-toggle="tooltip" data-placement="bottom"
             title="Name of my next band">
        </a>
            </div><!-- /.dash-unit -->
          </div><!-- /.col -->


      </div><!-- /.row ALL CARDS-->
    </div><!-- /.container MAIN-->

{% include('footer_main.html') %}
