{% include('header_main.html') %}
<div class="container d-flex align-items-center vh-100">

    <!-- user photo, name, and blurb -->
    <div class="row">
        <div class="col-4">
            <div class="dash-unit">
                <dtitle>
                <span class="nf-mdi-account" style="font-size: 1.5rem;"></span>
                About {{ config_vars['name'] }}
                </dtitle>
                <hr style="margin-bottom: 0;">
                <img class="main-img"
                     src="/static/img/{{ config_vars['profile_image'] }}"
                     alt="{{ config_vars['profile_image_alt'] }}"
                     style="width:200px;"
                     data-toggle="tooltip" data-placement="bottom"
                     title="{{ config_vars['name'] }}">
                <br />
                <p>{{ config_vars['blurb'] }}</p>
            </div><!-- /.dash-unit -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- links on their own row -->
    <div class="row">
        <div class="col-4">
            <div class="dash-unit">
                <br />
                <center>
                    <dtitle>Social Links</dtitle>
                    <hr>
                </center>
                <br />
                <center>
                    <p>
                    &nbsp;
                    {% for lnk in social_links %}
                        <!-- Linkedin -->
                        <a target="_blank"
                           href="{{ social_links[lnk]['URL'] }}"
                           data-toggle="tooltip" data-placement="left"
                           title="{{ lnk }}">
                            <span class="{{ social_links[lnk]['icon'] }}">
                                &nbsp;
                            </span>
                        </a>
                    {% endfor %}
                    </p>
                <hr>
                <dtitle>
                    <a href="{{ config_vars['resume_pdf_URL'] }}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="Download Resume as a PDF"
                       style="box-shadow: none;">
                        Download Resume
                    </a>
                </dtitle>
                </center>
            </div><!-- /.dash-unit -->
        </div><!-- /.col -->
    </div><!-- /.row links card-->

</div><!-- /.container MAIN-->
{% include('footer_main.html') %}
