{% include('header_main.html') %}
<div class="container text-center">

    <div class="row">
        <div class="col-4">
            <div class="rounded dash-unit shadow">
                <dtitle>
                <br />
                <i class="bi bi-person-circle"
                    style="font-size: 1rem; color: cornflowerblue;"></i>

                &nbsp; About {{ globals['name'] }}
                </dtitle>
                <hr style="margin-bottom: 0;">
                <img class="img-responsive img-rounded center-block main-img"
                     src="/static/img/{{ globals['image'] }}"
                     alt="{{ globals['image_alt'] }}"
                     style="width:250px;"
                     data-toggle="tooltip" data-placement="bottom"
                     title="{{ globals['name'] }}">
                <br />
                <p>{{ globals['blurb'] }}</p>
            </div><!-- /.dash-unit -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- links on their own row -->
    <div class="row">
        <div class="col-4">
            <div class="dash-unit rounded shadow">
                <br />
                <center>
                    <dtitle>Social Links</dtitle>
                    <hr>
                </center>
                <br />
                <center>
                    <p>
                    &nbsp;
                    <!-- Linkedin -->
                    <a target="_blank" 
                       href="{{ globals['linkedin_URL'] }}"
                       data-toggle="tooltip" data-placement="left"
                       title="Linkedin">
                        <i class="bi bi-linkedin"
                            style="font-size: 2rem; color: cornflowerblue;">
                        </i>
                    </a>
                    &nbsp;
                    <!-- Github section -->
                    <a target="_blank" 
                       href="{{ globals['github_URL'] }}"
                       data-toggle="tooltip" data-placement="top"
                       title="GitHub">
                        <i class="bi bi-github"
                           style="font-size: 2rem; color: cornflowerblue;">
                        </i>
                    </a>
                    &nbsp;
                    <!-- Gitlab section -->
                    <a target="_blank" 
                       href="{{ globals['gitlab_URL'] }}"
                       data-toggle="tooltip" data-placement="right"
                       title="GitLab">
                        <i class="bi bi-git"
                           style="font-size: 2rem; color: cornflowerblue;">
                        </i>
                    </a>
                    &nbsp;
                    </p>
                <hr>
                <dtitle>
                    <a href="{{ globals['resume_pdf_URL'] }}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="Download Resume as a PDF"
                       style="box-shadow: none;">
                        Download Resume
                    </a>
                </dtitle>
                </center>
            </div><!-- /.dash-unit -->
        </div><!-- /.col -->
    </div><!-- /.row links card-->

</div><!-- /.container MAIN-->
{% include('footer_main.html') %}
